snippet st "print"
print(${0})
endsnippet

snippet ipdb "ipdb debug"
import ipdb; ipdb.set_trace(context=8) # todo ipdb_debug
endsnippet

snippet rmlog "rm console log" b
import logging; root = logging.getLogger(); root.removeHandler(root.handlers[0]) # todo rm console log
endsnippet

